files/Lab3-bluemix-iot.json
[{"id":"a5397b96.7a2838","type":"function","z":"e85ad8f2.359ef8","name":"temp","func":"return{payload:msg.payload.d.temp};","outputs":1,"x":836,"y":290,"wires":[["d84e493b.bf121"]]},{"id":"d84e493b.bf121","type":"switch","z":"e85ad8f2.359ef8","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":"40"},{"t":"gt","v":"40"}],"checkall":"true","outputs":2,"x":985,"y":291,"wires":[["e1391083.435be"],["91efb4b4.3257f8"]]},{"id":"27a6cd52.56eefa","type":"debug","z":"e85ad8f2.359ef8","name":"cpustatus","active":true,"complete":"false","x":1296,"y":288,"wires":[]},{"id":"eeb38441.81e0f","type":"debug","z":"e85ad8f2.359ef8","name":"device data","active":true,"complete":"false","x":836,"y":201,"wires":[]},{"id":"e1391083.435be","type":"template","z":"e85ad8f2.359ef8","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature({{payload}}) within safe limits","x":1149,"y":242,"wires":[["27a6cd52.56eefa"]]},{"id":"91efb4b4.3257f8","type":"template","z":"e85ad8f2.359ef8","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":1148,"y":336,"wires":[["27a6cd52.56eefa"]]},{"id":"ebeca570.9840c","type":"ibmiot in","z":"e85ad8f2.359ef8","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"1c3118b56997","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":622,"y":295,"wires":[["eeb38441.81e0f","a5397b96.7a2838"]]}]
